#app {

    /*location*/
    position: relative;
    
    /*size*/
    width: 694px;
    height: 50%;

    /*aspect*/
    border: 2px solid rgb(199, 202, 0);
    border-radius: 5px;

    /*color*/
    background-color: rgb(19, 109, 116);
}

.controller-container {
    background-color: beige;
    border-radius: 10px;
    margin: 10px;
    height: 50px;
}

.view-box {
    background-color: beige;
    border-radius: 10px;
    margin-top: 15px;
    margin: 10px;
    height: 30px;
}

.text-input {
    margin: 5px;
}

.btn-1{
    margin: 5px;
}

#bpm-viewer{
    margin: 10px;
}

.layer {
    margin: 10px;
    border-radius: 10px;
    height: 115px;
    background-color: rgb(199, 202, 0);
}

.key {
    /* location */
    position: relative;
    display: inline-block;
    /* aspect */
    width: calc(var(--keyWidth) - 6px); /* - 2 volte il border*/
    height: 56px;
    margin: var(--margin);
    background-color: #c0a630;
    border: 3px solid #0000004d;
    border-radius: 8px;
}

.active {
    background-color: rgb(128, 53, 151);
}

.playing {
    border: 3px solid rgb(247, 255, 217);
}

.active.playing {
    /*
    width: calc(var(--keyWidth) - 8px);
    height: 54px;
    */
    border: 3px solid rgb(247, 255, 217)
}

.ctrl-btn {
    display: flex;
    margin-left: 10px;
}