#app {

    /*location*/
    position: relative;
    
    /*size*/
    width: 80%;
    height: 50%;

    /*aspect*/
    border: 2px solid aqua;
    border-radius: 5px;

    /*color*/
    background-color: aquamarine;
}

.controller-container {
    border: 2px solid salmon;

}

.key {
    /* location */
    display: inline-block;
    /* aspect */
    width: 36px;
    height: 58px;
    background-color: #f4f4e6;
    padding: 4px;
    border: 2px solid #0000004d;
    border-radius: 8%;
    /* sized */
    margin: 5px;
}

.active {
    background-color: red;
    border: 1px solid purple;
}

.playing {
    border: 2px solid orange;
    background-color: greenyellow;
}